.border {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 250px;
  display: inline-block;
}
.container {
    position: relative;
}
.everythinginside{
    position:absolute;
    display: flex;

}