.container {
  background-color: #f9f9f9;
  margin-top: 20px;
}

.firstdiv {
  margin-top: 100px;
}
.pageInformation {
  text-align: left;
}
body {
  background-color: #f9f9f9;
  width: 100%;
}
.borderMainTitle {
  font-size: 15px;
  display: flex;
  align-items: flex-start;
}
.borderSubTitle {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
}

.borderCard:hover {
  cursor: pointer;
}

.cardSectionHeader {
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  color: #111111;
  margin-bottom: 5px;
  top: 0;
  left: 0;
  float: left;
}
.borderPageUpdateTimes {
  margin-bottom: 10px;
}
.Paper {
  z-index: 9999;
  align-items: center;
  justify-content: space-between;
  top: 50%;
  left: 0;
}
.holdsCrossings {
  width: 100vw;
}
